<div class="jumbotron">
    <h1>Stephen O'Leary's Assessment for Learn on Demand Systems</h1>
    <p class="lead">This is an web api published to azure.  Take note of the swagger ui interface above for simple api debugging and making calls.  This version isn't protected from an authentication standpoint.</p>
    <p><a href="./swagger/ui/index" class="btn btn-primary btn-lg">Check out the Swagger UI</a></p>
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Front End Rep</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
